POSTGRES_USER=sanosysalvos
POSTGRES_PASSWORD=sanosysalvos2026
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=sanosysalvos_db
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_URL=

